<div class="ui two column stackable grid container">
  <div class="column">
    <%= render 'client_table_summary', clients: @clients %>
  </div>
  <div class="column">
    <p>policies</p>
  </div>
</div>
