<% if object.errors.any? %>
  <div class="ui container">
    <div class="ui floating negative message">
      <i class="close icon"></i>

      <h4 class="ui header">
        <div class="content">
          <i class="warning icon"></i>
          <%= pluralize(object.errors.count, "error") %>
        </div>
      </h4>

      <div class="ui bulleted list">
        <% object.errors.full_messages.each do |msg| %>
          <div class="item"><%= msg %></div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
