<div class="ui grid container">

  <div class="row">
    <div class="sixteen wide mobile eight wide tablet eight wide computer column">

      <div class="ui header">
        <i class="write icon"></i>
        <div class="content">
          Edit Client
          <div class="sub header">
            Edit client information
          </div>
        </div>
      </div>

      <%= render 'client_form', client: @client, action:'Save changes' %>

      <div class="ui divider"></div>

      <div class="ui inverted clearing segment">
        <h5 class="ui red inverted header">
          Delete client
          <div class="sub header">
            This action permanently removes this client from the database.
            You will lose all related client data
          </div>
        </h5>
        <%= link_to @client, method: :delete, data: {confirm: "Are you sure you want to delete this client?"}, class:'ui inverted right floated red basic button' do %>
          <i class="icon trash"></i>
          Delete this client
        <% end %>
      </div>

    </div>
  </div>

</div>
