<div class="ui container">
  <!-- page header -->
  <h1 class="ui left floated header">
    <i class="users icon"></i>
    <div class="content">
      Clients
      <div class="sub header">
        View all your clients
      </div>
    </div>
  </h1>

  <%= link_to new_client_path do %>
    <div class="ui teal circular basic icon large button right floated" data-tooltip="add new client" data-inverted="" data-position="bottom center">
      <i class="plus icon"></i>
    </div>
  <% end %>

  <!-- client list -->
  <%= render(@clients.any? ? 'client_table' : 'no_clients') %>
</div>
