<div class="ui grid container">

  <div class="row">
    <div class="sixteen wide mobile eight wide tablet eight wide computer column">

      <div class="ui header">
        <i class="add user icon"></i>
        <div class="content">
          Add Client
          <div class="sub header">
            Add a new client to your portfolio
          </div>
        </div>
      </div>

      <%= render 'client_form', client:@client, action:'Add Client' %>

    </div>
  </div>

</div>
