<div class="ui internally celled stackable grid container">
  <div class="row">
    <div class="five wide column">

      <!-- begin client card -->
      <%= render @client %>
      <!-- end client card -->

    </div>

    <div class="eleven wide column">

      <!-- begin tabbed content -->

        <!-- menu options TODO make this sticky -->
        <div class="ui teal pointing secondary menu">
          <a class="item active" data-tab="policies"><i class="file text icon"></i>Policies</a>
          <a class="item" data-tab="vehicles"><i class="car icon"></i>Vehicles</a>
          <a class="item" data-tab="claims"><i class="first aid icon"></i>Claims</a>
        </div>

        <!-- 1. policies tab -->
        <div class="ui tab basic segment active" data-tab="policies">
          <% if @client.policies.empty? %>
            Client does not currently have any policies on their account. Add a new policy
          <% else %>
            <%= render partial: 'policies/policy_table', locals: { policies: @client.policies } %>
          <% end %>
        </div>

        <!-- 2. vehicles tab TODO change this to assets-->
        <div class="ui tab basic segment" data-tab="vehicles">
          <% if @client.vehicles.empty? %>
            <div class="ui center aligned teal segment">
              This client has no vehicles, add new vehicle <%= link_to 'here', new_vehicle_path %>
            </div>
          <% else %>
            <div class="ui cards">
              <%= render @client.vehicles %>
            </div>
          <% end %>
        </div>

        <!-- 3. claims -->
        <div class="ui tab basic segment" data-tab="claims">
          Client does not currently have any claims on their account
        </div>
      <!-- end tabbed content -->

    </div>
  </div>
</div>
