<div class="ui internally celled stackable grid container">
  <div class="row">
    <div class="five wide column">

      <!-- begin client card -->
      <%= render @client %>
      <!-- end client card -->

    </div>

    <div class="eleven wide column">

      <!-- display client's vehicles -->
      <h4 class="ui dividing header">
        <i class="car icon"></i>
        <div class="content">
          Vehicles owned
        </div>
      </h4>

      <% if @client.vehicles.empty? %>
        <div class="ui center aligned teal segment">
          This client has no vehicles, add new vehicle <%= link_to 'here', new_vehicle_path %>
        </div>
      <% else %>
        <div class="ui cards">
          <%= render @client.vehicles %>
        </div>
      <% end %>
      <!-- end display client's vehicles -->

    </div>
  </div>
</div>
