<div class="ui internally celled stackable grid container">
  <div class="row">
    <div class="five wide column">

      <!-- begin client card -->
      <%= render @client %>
      <!-- end client card -->

    </div>

    <div class="eleven wide column">

    </div>
  </div>
</div>
