<div class="ui internally celled stackable grid container">
  <div class="row">
    <div class="five wide column">

      <!-- begin client card -->
      <%= render @client %>
      <!-- end client card -->

    </div>

    <div class="eleven wide column">

      <!-- display client's vehicles -->
      <h4 class="ui dividing header">
        <i class="car icon"></i>
        <div class="content">
          Vehicles owned
        </div>
      </h4>

      <div class="ui cards">
        <%= render @client.vehicles %>
      </div>
      <!-- end display client's vehicles -->

    </div>
  </div>
</div>
