<div class="ui grid container">

  <div class="row">
    <div class="sixteen wide mobile eight wide tablet eight wide computer column">

      <div class="ui header">
        <i class="building icon"></i>
        <div class="content">
          Edit Insurer
          <div class="sub header">
            Edit Insurer Information
          </div>
        </div>
      </div>

      <%= render 'insurer_form', insurer:@insurer, action:'Save changes' %>

      <div class="ui divider"></div>

      <div class="ui inverted clearing segment">
        <h5 class="ui red inverted header">
          Delete Insurer
          <div class="sub header">
            This action permanently removes this insurer from the database.
            You will lose all related insurer data
          </div>
        </h5>
        <%= link_to @insurer, method: :delete, data: {confirm: "Are you sure you want to delete this insurer?"}, class:'ui inverted right floated red basic button' do %>
          <i class="icon trash"></i>
          Delete this insurer
        <% end %>
      </div>

    </div>
  </div>

</div>
