<div class="ui container">
  <!-- page header -->
  <h1 class="ui header">
    <i class="building icon"></i>
    <div class="content">
      Insurers
      <div class="sub header">
        View all insurers
      </div>
    </div>
  </h1>

  <!-- insurer list -->
  <%= render(@insurers.any? ? 'insurer_table' : 'no_insurers') %>
</div>
