<div class="ui grid container">

  <div class="row">
    <div class="sixteen wide mobile eight wide tablet eight wide computer column">

      <div class="ui header">
        <i class="building icon"></i>
        <div class="content">
          Add Insurer
          <div class="sub header">
            Add a new insurance company
          </div>
        </div>
      </div>

      <%= render 'insurer_form', insurer:@insurer, action:'Add Insurer' %>

    </div>
  </div>

</div>
