<div class="ui internally celled stackable grid container">
  <div class="row">
    <div class="five wide column">
      <!-- insurer card -->
      <%= render @insurer %>
    </div>

    <div class="eleven wide column">
      <h2 class="ui dividing header">
        <%= @insurer.full_legal_name %>
      </h2>
    </div>
  </div>
</div>
