<div class="ui center aligned container">
  <%= image_tag("thinking-clipart.svg", class: "ui centered medium image") %>
  <div class="ui small header">
    looks like you don't have any vehicle data yet, <%= link_to 'add a new vehicle', '#' %>
  </div>
</div>
