<div class="ui internally celled stackable grid container">
  <div class="row">
    <div class="five wide column">
      <!-- vehicle card -->
      <%= render @vehicle %>
    </div>
    <div class="eleven wide column">
      <!-- policies -->
      <!-- claims -->
    </div>
  </div>
</div>
