<div class="ui internally celled stackable grid container">
  <div class="row">
    <div class="five wide column">
      <!-- vehicle card -->
      <%= render @vehicle %>

      <!-- vehicle options -->
      <%= link_to(edit_vehicle_path(@vehicle), class: 'ui fluid basic button') do %>
        <i class="settings icon"></i>
        edit vehicle
      <% end %>
    </div>
    <div class="eleven wide column">
      <!-- policies -->
      <!-- claims -->
    </div>
  </div>
</div>
