<div class="ui container">
  <!-- page header -->
  <%= link_to new_policy_path do %>
    <div class="ui teal circular basic icon large button right floated" data-tooltip="add new policy" data-inverted="" data-position="bottom center">
      <i class="plus icon"></i>
    </div>
  <% end %>

  <h1 class="ui left floated header">
    <i class="folder open icon"></i>
    <div class="content">
      Policies
      <div class="sub header">
        View all policies
      </div>
    </div>
  </h1>

  <!-- client list -->
  <!-- TODO clean this up!! -->
  <%= @policies.any? ? (render partial: 'policy_table', locals: { policies: @policies }) : (render 'no_policies') %>
</div>
